
<style>
    body:before {
        content:"";
        position:fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index:-1; 
        background: rgb(215,255,199);
        background: linear-gradient(0deg, rgba(215,255,199,0.9920343137254902) 0%, rgba(240,242,255,0.5298494397759104) 100%);
    }
    * {box-sizing: border-box}

    .container {
      padding: 16px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    }

    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    .titulo {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      width: 100%;
      opacity: 0.9;
    }
    
    /* Set a style for the submit/register button */
    .loginbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .loginbtn:hover {
      opacity:1;
    }
    a:hover {
      background: transparent;
    }
    
</style>
  <body>

      <div class="container">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           <h1 class="titulo" >ASW Issue Tracker</h1>
            <p style="font-weight: bold;">Welcome to the ASW 2019-Q2 Issue Tracker</p>
            <hr>
            <div class="message">
                <b>This project was made by:</b>
                <li><a href="https://github.com/cristianroaf/"><img width=60 height=60 src="https://anzieves.sirv.com/Images/Iconos/github_.png"></a>   Cristian Roa Fortes</li>
                <li><a href="https://github.com/MiguelSalamero"><img width=60 height=60 src="https://anzieves.sirv.com/Images/Iconos/github_.png"></a>   Miguel Salamero Muñoz</li>
                <li><a href="https://github.com/Marc-Obiols"><img width=60 height=60 src="https://anzieves.sirv.com/Images/Iconos/github_.png"></a>   Marc Obiols Rubio</a></li>
                <li><a href="https://github.com/TrajanoCaligula"><img width=60 height=60 src="https://anzieves.sirv.com/Images/Iconos/github_.png"></a>   Jaume Malgosa Broto</a></li>
            </div>
            <hr>
            <div>
              <b>To proceed, please sign in using Google:</b>
              <p></p>
              <span>
                <%- if devise_mapping.omniauthable? %>
                  <%- resource_class.omniauth_providers.each do |provider| %>
                    <%= link_to image_tag("https://anzieves.sirv.com/Images/Iconos/sign_in.png"), omniauth_authorize_path(resource_name, provider) %><br />
                  <% end %>
                <% end %>
              </span>
            </div>
            <hr>
          <% end %>
      </div>
</body>